.login, .admin {
font-family: 'Mulish', sans-serif;
display: flex;
justify-content: center;
align-items: center;
min-height: 90svh;
font-size:larger ;
}

.form-container, .admin-panel {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

#login-form,#register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#button-login, #button-exit {
    border-radius: 4px;
    border: unset;
    padding: 10px 30px;
    background-color: rgb(227,99,59);
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    color: rgb(64, 61, 58);
    cursor: pointer;

}

.error {
    color: rgb(255, 81, 81);
}

.escondido {
    display: none;
}