.busqueda {
    margin-top:3rem;
    font-family: 'Mulish', sans-serif;

}

#lupa {
    width: 25px;
    margin-right: 1rem;
}

.busqueda span {
    font-size: 25px;
    font-weight: bold;
}

#whatsapp{
    position: fixed;
    width: 70px;
    height: 70px;
    background: url('../imagenes/social.png');
    background-size: cover;
    border-radius: 100%;
    border: 2px solid #fff;
    bottom: 0;
    right: 0;
    margin: 1.5rem;
    transition: 0.5s;
    z-index: 1000;
}

#whatsapp:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#tipo-propiedad,input {
    margin: 0.5rem;
    height: 3rem;
    border: rgb(119, 115, 115) 0.5px solid;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}

#tipo-operacion, input{
    margin: 0.5rem;
    height: 3rem;
    border: rgb(119, 115, 115) 0.5px solid;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}

#enlace-busqueda {
    margin: 0.5rem;
    border: none;
    color: #f4f4f4;
    background-color: rgb(227,99,59);
    padding: 0.7rem 1rem;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

}