
.contenedorContacto{
    width: 80%;
    height: 500px;
    background-color: antiquewhite;
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
}

.contacto-title{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 1.5rem;
    padding: 15px 10px;
    background-color: #948872;
    color: #f4f4f4;
    border-radius: 10px;
}

.form-input{
    position: absolute;
    width: 300px;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: left;
    border: none;
}
.form-input::placeholder{
    text-align: left;
    color: #999;
}

#form-nombre{
    top: 25%;
    left: 10%;
}
#form-email{
    top: 25%;
    left: 45%;
}
#form-asunto{
    top: 45%;
    left: 10%;
}
#form-telefono{
    top: 45%;
    left: 45%;
}
#form-mensaje{
    top: 65%;
    left: 10%;
    max-width: 700px;
    max-height: 100px;
    font-size: 1rem;
}
#form-submit{
    position: absolute;
    top: 85%;
    left: 85%;
    padding: 10px 20px;
    text-align: center;
    background-color: #948872;
    color: #f4f4f4;
    transition: 0.5s ease;
}
#form-submit:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px gray;
}

@media only screen and (max-width: 1100px){
    .form-input{
        width: 250px;
    }
    #form-email{
        left: 60%;
    }
    #form-telefono{
        left:60%
    }
    #form-mensaje{
        max-width: 550px;
    }
}
@media only screen and (max-width: 850px){
    .contenedorContacto{
        height: 650px;
    }
    .contacto-title{
        top: 3%;
        left: 20%;
    }
    .form-input{
        width: 400px;
    }
    #form-nombre{
        top:18%;
        left: 20%;
    }
    #form-email{
        left: 20%;
        top: 28%;
    }
    #form-asunto{
        left: 20%;
        top: 38%;
    }
    #form-telefono{
        left: 20%;
        top: 48%;
    }
    #form-mensaje{
        left: 5%;
        top: 65%;
    }
    #form-submit{
        top: 85%;
        left: 25%;
        width: 50%;
        border-radius: 30px;
    }
}
@media only screen and (max-width: 800px){
    #nav-prop{
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 730px){
    .contenedorContacto{
        width: 100%;
    }
    #form-mensaje{
        width: 400px;
        height: 100px;
        left: 20%;
    }
    .form-input{
        width: 90%;
    }
    #form-nombre{
        left: 3%;
    }
    #form-mensaje{
        left: 3%;
        max-width: 90%;
    }
    #form-email{
        left: 3%;
    }
    #form-asunto{
        left: 3%;
    }
    #form-telefono{
        left:3%;
    }
}
@media only screen and (max-width: 430px){
    .contacto-title{
        font-size: 1.2rem;
    }
}