.carousel.slide{
    max-width: 250px;
}
.carousel-item img {
    max-height: auto; /* Ajusta el tamaño máximo de las imágenes según sea necesario */
    width: auto; /* Permitir que el ancho se ajuste automáticamente */
  }
  .carousel-image {
    margin: 10px; /* Agregar un margen entre las imágenes */
  }
  .carousel-item {
    margin: 0 auto;
  }

  .carousel-inner {
    max-width: 250px;
    min-height: 180px;
    max-height: 180px; /* Ajusta el tamaño máximo del contenedor del carrusel según sea necesario */
    overflow: hidden; /* Ocultar el contenido que desborda del contenedor */
  }
  
  .carousel-control-prev,
.carousel-control-next {
  width: auto; /* Ajusta automáticamente el ancho de los botones */
  background: transparent; /* Fondo transparente para los botones */
  border: none; /* Elimina el borde de los botones */
  font-size: 1.5rem; /* Tamaño de fuente de los botones */
  color: black; /* Color del texto de los botones */
  top: 50%; /* Alinea verticalmente los botones */
  transform: translateY(-50%); /* Alinea verticalmente los botones */
}

.carousel-control-prev {
  left: 0px; /* Ajusta la posición del botón "Previous" */
}

.carousel-control-next {
  right: 0px; /* Ajusta la posición del botón "Next" */
}