@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.detalle-contenedor{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: 'Poopins', sans-serif;
    background-color: rgba(246,240,233);
}

#enlaces{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 10;
}

.share-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}
.share-button i {
    margin-right: 8px;
    font-size: 1.3rem;
}

.share-button.facebook {
    background-color: #3b5998;
}

.share-button.twitter {
    background-color: #111;
}


.share-button.whatsapp {
    background-color: #25d366;
}

.share-button.email {
    background-color: #777;
}

.share-button:hover {
    transform: scale(1.1);
}




.detalle-body{
    display: flex;
    width: 100%;
    padding: auto;
    align-items: center;
    flex-direction: column;
}

#detalle-nav{
    background-color: rgb(227,99,59);;
    color: #f4f4f4;
    max-width: 50%;
    padding: 20px 30px;
    margin-left: 10%;
    margin-top: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#detalle-nav h1{
    font-size: 1.5rem;
}
.detalle-estado{
    display: flex;
    max-width: 30%;
    height: 50px;
    margin-left: 10%;
}
.detalle-estado h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: indigo;
    font-size: 1.3rem;
    padding: 20px;
    width: 50%;
   /* height: 100%;*/
    color: #f4f4f4;
    border-bottom-left-radius: 20px;
}

.detalle-estado h3{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: #e9e4e4;
    border-bottom-right-radius: 20px;
    font-size: 1.3rem;
}

#detalle-precio h3{
    font-size: 1.3rem;
}

.SectionProp{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: auto;
}

.SectionMap{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #f4f4f4;
    width: 80%;
    padding-bottom: 60px;
    background-color: #424040;
    margin-bottom: 5%;
}
.SectionMap nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

.SectionMap nav h1{
  font-size: 1.5rem;
  padding: 30px 30px;
}

.SectionMap nav img{
    width: 45px;
    height: 45px;
    margin-top: 20px;
}

.SectionMap iframe{
    width:80%;
    height:450px;
}

.SectionDescrip{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: auto;
}
.SectionDescrip h1{
    padding: 30px 30px;
}
.SectionDescrip p{
    font-size: 1.2rem;
}
#carouselExampleIndicators{
    width: 70%;
    height: 550px;
    transition: 0.5s;
}
#carouselExampleIndicators:hover{
    box-shadow: 10px 10px 1.5rem gray;
}
#carousel-inner{
    width: 100%;
    height: 100%;
}
#carruItem{
    width: 100%;
    height: 100%;
}

#carruItem img{
    width: 100%;
    height: 550px;
    z-index: 1;
}

#detalle-contenido{
    margin-top: 2%;
    width: 70%;
    height: auto;
    background-color:#666666 ;
    color: #f4f4f4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#detalle-contenido h2{
    width: 100%;
    color: rgb(227,99,59);
    background-color: #333;
    text-align: center;
    padding: 20px 20px;
}

 #descripcion{
    display: flex;
    width: 100%;
    flex-direction: column;
}

#descripcion li{
    text-align: center;
    padding: 5px;
    margin: 10px;
    list-style-type: none;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px){
    #detalle-nav{
        padding: 10px 15px;
        margin-top: 20%;
        margin-left: 0;
        max-width: 100%;
        border-radius: 0;
    }
    #detalle-nav h1{
        font-size: 1rem;
    }
    #enlaces{
        flex-direction: row;
        top: 93%;
        width: 100%;
    }
    .share-button{
        width: 25%;
        padding: 15px;
    }

    .SectionProp{
        flex-direction: column;
    }
    .detalle-estado{
        max-width: 100%;
        margin-left: 0;
    }
    .detalle-estado h2{
        font-size: 0.8rem;
        border-radius: 0;
    }
    .detalle-estado h3{
        font-size: 0.8rem;
        border-radius: 0;
    }
    #carouselExampleIndicators{
        width: 100%;
        height: 350px;
    }
    #carruItem img{
        height: 350px;
    }
    #detalle-contenido{
        margin-top: 5%;
        width: 100%;
        font-size: 0.8rem;
    }
    #detalle-contenido h2{
        font-size: 1rem;
    }
    #descripcion li{
        font-size: 0.8rem;
    }
    .SectionMap{
        width: 100%;
        padding: 0;
        padding-bottom: 50px;
        margin-bottom: 0;
    }
    .SectionMap iframe{
        height: 300px;
    }
}