#encabezado {
    padding: 0;
    width: 100%;
    background-color: rgba(246,240,233);
    justify-content: center;
    text-align: center;
}

#menu-icon {
    display: none; /* Ocultar el icono del menú por defecto */
}

#encabezado img {
    max-width: 400px;
}
#encabezado-nav {
   display: flex;
    background:rgb(64, 61, 58);
    width: 100%;
    z-index: 1000;
}
#encabezado-nav ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
}

#encabezado-nav li {
    color: whitesmoke;
    display: inline-block;
    padding: 1rem;
    transition: transform 0.4s;
}

#encabezado-nav a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; 
}


#encabezado-nav li:hover {
    color: rgb(227,99,59);
    background: linear-gradient(rgb(64, 61, 58)20%,rgb(83, 79, 76));
    border-radius: 0 0 20% 20%;
    transform: translateY(7px);
}

.panelControl {
    float: left;
    width: 20%;
}

.entrada {
 justify-content: center;
}
.entrada img {
    width: 30px;
    float: left;
    margin-top: 0.5rem;
}

.panelControl button {
    margin: 1rem;
    background:rgb(64, 61, 58);
    color: whitesmoke;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; 
    border: none;
    cursor: pointer;
}