<a href="https://wa.me/541161636666" target="_blank"> <button id="whatsapp"></button></a>
<footer>
    <div class="footer-contenido">
        <div class="title"><h3>Cecilia Gómez Inmobiliaria</h3></div>
        <div id="logo">
            <img src="/imagenes/LogoCeci.png" alt="">
        </div>
        <div class="descripcion">
            <p>Slogan de la Inmobiliaria <br> Alquileres | Compra | Venta </p>
        </div>
    </div>
    <div class="footer-contenido">
        <div class="title" ><h3>Contáctanos</h3></div>
        <div class="column"><img src="/imagenes/alfiler.png" alt=""> <a href="https://maps.app.goo.gl/eZhQCeZ4vpKYjLWk9">Tandil</a></div>
        <div class="column"> <img src="/imagenes/gmail.png" alt=""><a href="mailto:Inmobiliariac.gomez@gmail.com">Inmobiliariac.gomez@gmail.com</a></div>
        <div class="column"><img src="/imagenes/instagram.png" alt=""><a href="https://www.instagram.com/inmobiliaria.cecilia.gomez/">inmobiliaria.cecilia.gomez</a></div>
    </div>
    <div class="footer-contenido">
        <div class="title"><h3>Propiedades</h3></div>
        <ul>
           <a class="prop" href="/propiedades/propiedad/<%= encodeURIComponent('Departamento/Duplex') %>"><li>Departamentos</li></a> 
           <a class="prop" href="/propiedades/propiedad/<%= encodeURIComponent('Casa') %>"><li>Casas</li></a> 
           <a class="prop" href="/propiedades/propiedad/<%= encodeURIComponent('Local/Oficina') %>"><li>Locales Comerciales</li></a> 
           <a class="prop" href="/propiedades/propiedad/<%= encodeURIComponent('Lote') %>"><li>Terrenos</li></a> 
        </ul>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>