.busqueda {
    margin-top:3rem;
    font-family: 'Mulish', sans-serif;

}

#whatsapp{
    position: fixed;
    width: 85px;
    height: 85px;
    background: url('../imágenes/social.png');
    background-size: cover;
    border-radius: 100%;
    border: 2px solid #fff;
    top: 80%;
    left: 90%;
    transition: 0.5s;
}

#whatsapp:hover{
    cursor: pointer;
    transform: scale(1.2);
}