@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');



footer{
    width: 100%;
    display: flex;
    height: 700px;
    margin-top: 50px;
    background-color: #3a3939;
}

.footer-content{
    display: flex;
    font-family: "Abel", sans-serif;;
    color: #f4f4f4;
    width: 33.33%;
    height: 100%;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 1.5rem;
    text-shadow: 10px 10px 15px #000;
}

#logo{
    width: 70%;
    height: 40%;
    background: url('../imágenes/LogoCeci.png');
    background-size: cover;
    border-radius: 30px;
    box-shadow: 15px 17px 15px #111;
}

 .column{
    display: flex;
    width: 80%;
    height: 10%;
    border: 2px solid #f4f4f4;
    align-items: center;
    transition: 0.5s ease;
}

.column:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: blueviolet;
}

.column img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.column a{
    margin-left: 20px;
    color: #f4f4f4;
    font-size: 1.2rem;
}


