@import url(encabezadonav.css);
@import url(imagen-desc.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenido {
    margin-left: 15%;
    margin-right: 15%;
}