@import url(encabezadonav.css);
@import url(imagen-desc.css);
@import url(footer.css);
@import url(busqueda.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenido {
    margin-left: 14%;
    margin-right: 14%;
}

body{
    position: relative;
}