<%- include("templates/cabecera",
 {tituloWeb: 'Contacto',
 ogTitle: 'Contacto',
 ogDescription: 'seccion de contacto',
 ogURL: 'https://inmobiliariacecilia.onrender.com/contacto',
 ogImage: '/imagenes/LogoCeci.png',
 }) %>
<div class="contenido-body">
  <nav id="nav-prop">
    <h1>Contacto</h1>
</nav> 
  <form action="/propiedades/enviar-email" method="post" class="contenedorContacto">
    <div class="contacto-title"><p>Envianos un mensaje</p></div>
    <input type="text" id="form-nombre" name="nombre" class="form-input" placeholder="Tu Nombre">
    <input type="text" id="form-email" name="email" class="form-input" placeholder="Tu Email">
    <input type="text" id="form-asunto" name="asunto" class="form-input" placeholder="Asunto">
    <input type="text" id="form-telefono" name="telefono" class="form-input" placeholder="Teléfono">
    <textarea rows="4" cols="100" placeholder="mensaje" id="form-mensaje" name="mensaje" class="form-input" required="" maxlength="999"></textarea>
    <input type="submit" id="form-submit" placeholder="ENVIAR MENSAJE">
  </form>
</div>

<%- include("templates/footer") %>