<%- include("templates/cabecera", {tituloWeb: 'Crear Propiedad'}) %>
<div>
    <h1>Crear</h1>
    <form action="/propiedades" method="post" enctype="multipart/form-data">
        <input 
        type="text"
        placeholder="Agregar Nombre"
        name="nombre">
        <input  
        type="text"
        placeholder="Agregar Descripción"
        name="descripcion">
        <input 
        type="text"
        placeholder="Agregar Precio"
        name="precio">
        <input type="file"
        placeholder="Agregar Imagen"
        name="imagen">

    <button type="submit">Agregar</button>
    </form>
</div>
    
<%- include("templates/footer") %>