<%- include("templates/cabecera",
 {tituloWeb: 'Nosotros',
 ogTitle: 'Nosotros',
 ogDescription: 'seccion de nosotros',
 ogURL: 'https://inmobiliariacecilia.onrender.com/nosotros',
 ogImage: '/imagenes/LogoCeci.png'
 }) %>

<nav id="nav-prop">
    <h1>Nosotros</h1>
  </nav>
<%- include("templates/footer") %>