<%- include("templates/cabecera",
 {tituloWeb: 'Tasaciones',
 ogTitle: 'Tasaciones',
 ogURL: 'https://inmobiliariacecilia.onrender.com/tasaciones',
 ogImage: '/imagenes/LogoCeci.png',
 ogType: 'website'}) %>


<nav id="nav-prop">
    <h1>Tasaciones</h1>
  </nav>
<%- include("templates/footer") %>