<%- include("../templates/cabecera", {tituloWeb: 'Panel de Administraci칩n'}) %>

<div class="admin">
    <div class="admin-panel">
        <h1>Bienvenido al 치rea de administraci칩n</h1>
        <button id="button-exit">Cerrar sesi칩n</button>


    </div>
</div>

<script src="/Funciones/admin.js"></script>
</body>