<%- include("../templates/cabecera", {tituloWeb: 'Panel de Administración'}) %>

<div class="admin">
    <div class="admin-panel">
        <h1>Bienvenido al área de administración</h1>
        <p>En las siguientes opciones encontrará lo necesario para administrar las propiedades y los perfiles de usuario. Seleccione una de las categorías para ingresar a las opciones deseadas.</p>
        <div class="admin-cat"><a href="/propiedades/form"><button class="adminbutton">Administrar Propiedades</button></a>
            <br>
            <hr>
            <p>Administra las propiedades ya existentes en la base de datos. Modifica, elimina y crea propiedades desde esta opción.</div>
            </p>
        <div class="admin-cat"><a href="propiedades/form/crear"><button class="adminbutton">Crear Nueva Propiedad</button></a>
            <br>
            <hr>
        <p>Accede al formulario para crear una nueva propiedad a la base de datos</p></div>
        <div class="admin-cat"><a href="/"><button class="adminbutton">Modificar Perfil</button></a>
            <br>
            <hr>
        <p>Modifica datos del usuario, tales como nombre, contraseña, etc.</p>
        <p>También puede acceder a la opción de crear nuevos perfiles de usuario.</p></div>
        <button id="button-exit">Cerrar sesión</button>


    </div>
</div>

<script src="/Funciones/admin.js"></script>
</body>