<%- include("../templates/cabecera", {tituloWeb: 'Panel de Administración'}) %>

<div class="admin">
    <div class="admin-panel">
        <h1>Bienvenido al área de administración</h1>


    </div>
</div>

<script src="/Funciones/admin.js"></script>
<%- include("../templates/footer") %>