
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Estilos/crudprop.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
</head>

<%- include("../templates/cabecera", 
{tituloWeb: 'crear',
ogTitle: 'Crear nueva propiedad',
ogDescription: 'Administración de Propiedades',
ogURL: 'https://inmobiliariacecilia.onrender.com/form/crear',
ogImage: '/imagenes/LogoCeci.png'
}) %>


  <div class="propiedad-form">
    <nav id="nav-prop">
      <h1>Crear Nueva Propiedad</h1>
    </nav>
    <form class="CrearProp" action="/propiedades" method="post" enctype="multipart/form-data">
      <h3>Complete los siguientes campos</h3>
      <hr>
      <div class="mb-3">
        <label for="numeroRegistro" class="form-label">Número de Registro</label>
        <input type="text" class="form-control" id="numeroRegistro" name="numeroRegistro" required>
        <p>( Nº mayor ingresado:)</p>
      </div>
      <div class="dobleCampo">
        <div class="mb-3">
          <label for="tipoOperacion" class="form-label">Tipo de Operación</label>
          <select class="form-select" id="tipoOperacion" name="tipoOperacion" required>
            <option value="" disabled selected>Selecciona el tipo de operación</option>
            <option value="Venta">Venta</option>
            <option value="Alquiler">Alquiler</option>
            <option value="Alquiler temporario">Alquiler Temporario</option>
            <option value="Venta en otra localidad">Venta en otra localidad</option>
            <option value="Remate">Remate</option>
            <option value="Permuta">Permuta</option>
          </select>
        </div>
        <div class="mb-3" id="propiedad">
          <label for="tipoPropiedad" class="form-label" >Tipo de Propiedad</label>
          <select class="form-select" id="tipoPropiedad" name="tipoPropiedad" required>
            <option value="" disabled selected>Selecciona el tipo de propiedad</option>
            <option value="Casa">Casa</option>
            <option value="Departamento/Duplex">Departamento/Dúplex</option>
            <option value="Quinta">Quinta</option>
            <option value="Lote">Lote</option>
            <option value="Campo">Campo</option>
            <option value="Galpon">Galpón</option>
            <option value="Local/Oficina">Local/Oficina</option>
            <option value="Cabañas/Hoteles/Otros">Cabañas/Hoteles/Otros</option>
            <option value="Fondo de comercio">Fondo de Comercio</option>
            <option value="Cocheras">Cocheras</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label for="direccion" class="form-label">Dirección Visible</label>
        <h6>Dirección que aparecerá en la vista inicial de su propiedad.</h6>
        <input type="text" class="form-control" id="direccion" name="direccion" required>
      </div>
      <h4>CÓMO SE VERÁ SU PROPIEDAD EN LA BÚSQUEDA POR MAPA</h4>
      <hr>
      <div class="mb-3">
        <label for="direccionBusq" class="form-label">Dirección Búsqueda</label>
        <input type="text" class="form-control" id="direccionInput" name="direccionBusq" autocomplete="off" required>
        <p><b>Importante:</b> Ingrese una dirección y luego seleccione un resultado de la lista.</p>
      </div>
      <div class="dobleCampo">
        <label class="form-label" id="coordenadas">Coordenadas</label>
        <input type="text" class="form-control" name="coordenada1" id="coordenada1" required>
        <input type="text" class="form-control" name="coordenada2" id="coordenada2" required>
      </div>
      <div class="mapaform">
        <div id="map" style="height: 400px; width: 100%;"></div>
        <p><b>Nota:</b> Puede arrastrar el alfiler dentro del mapa y ubicarlo donde usted desee</p>
      </div>
      <h4>INFORMACIÓN GENERAL DE LA PROPIEDAD</h4>
      <p>Detalles específicos de su propiedad que podrán visualizarse en la vista principal de la misma.</p>
      <hr>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcion" name="descripcion" rows="4" placeholder= "Por favor complete este campo detalladamente, es muy importante para el usuario que le especifique correctamente las caracteristicas de la propiedad" required></textarea>
      </div>
      <div class="dobleCampo">
        <div class="mb-3">
          <input type="number" class="form-control" id="precio" name="precio" placeholder="Valor" >
        </div>
        <div class="mb-3" id="cajaMoneda">
          <select class="form-select" id="moneda" name="moneda" required>
            <option value="Peso">Peso</option>
            <option value="Dolar">Dólar</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label for="imagenes" class="form-label">Imágenes</label>
        <h6>Puede optar por elegir varias al mismo tiempo desde su Adminitrador de Archivos <b>(CTRL + Click)</b>, o tomar una por una seleccionando el botón <b>"Agregar más imágenes"</b></h6>
        <input type="file" class="form-control" id="imagenes" name="image" multiple required>
        <button type="button" id="agregarImagen" class="btn btn-primary">Agregar más imágenes</button>
      </div>

      <div class="dobleCampo">
        <div class="mb-3"  id="divform">
          <label for="dormitorios" class="form-label">Dormitorios</label>
          <select class="form-select" id="dormitorios" name="dormitorios" required>
            <option value="" disabled selected>Selecciona la cantidad de dormitorios</option>
            <option value="Sin dormitorio">Sin Dormitorio</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </div>
        <div class="mb-3"  id="divform">
          <label for="banos" class="form-label">Baños</label>
          <select class="form-select" id="banos" name="banos" required>
            <option value="" disabled selected>Selecciona la cantidad de baños</option>
            <option value="Sin baño">Sin Baño</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="garage" class="form-label">Garages</label>
          <select class="form-select" id="garage" name="garage" required>
            <option value="" disabled selected>Selecciona la cantidad de garages</option>
            <option value="No tiene garage">No tiene Garage</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>   
      <div class="dobleCampo">
        <label class="form-label" id="dimensiones">Dimensiones de la Propiedad</label>
        <div class="mb-3" id="divform">
          <input type="number" class="form-control" id="metro2prop" name="metro2prop" placeholder="M2 (Propiedad)" required>
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" id="metro2terr" name="metro2terr" placeholder="M2 (Terreno)" required>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="credito" class="form-label">Apta para Crédito Hipotecario</label>
        <select class="form-select" id="credito" name="credito" required>
          <option value="" disabled selected>Selecciona si es apta para crédito hipotecario</option>
          <option value="Apta para credito hipotecario">Apta para Crédito Hipotecario</option>
          <option value="No apta para credito hipotecario">No Apta para Crédito Hipotecario</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="video" class="form-label">Enlace del video de YouTube</label>
        <input type="text" class="form-control" id="video" name="video">
      </div>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>
  </body>
  <script
  src="/Funciones/cargaImagenes.js" async defer></script>
  <script
  src="/Funciones/autoCompMap.js"></script>
  <!-- Incluir la API de Google Maps -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVK2JXZTFXnHRmXtwqV6BwcX8ZCcYfBO0&sensor=false&libraries=places&callback=initMap"
    async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!-- Otros scripts específicos de la página -->
  </body>